USE [Scheduler]
GO
/****** Object:  Table [Scheduler].[JobTemplateStep]    Script Date: 3/15/2015 4:55:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Scheduler].[JobTemplateStep](
	[JobTemplateStepId] [int] NOT NULL,
	[JobTemplateId] [int] NOT NULL,
	[JobTemplateAction] [varchar](5000) NOT NULL,
	[JobActionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobTemplateStepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [Scheduler].[JobTemplateStep]  WITH CHECK ADD FOREIGN KEY([JobActionId])
REFERENCES [Scheduler].[JobAction] ([JobActionId])
GO
ALTER TABLE [Scheduler].[JobTemplateStep]  WITH CHECK ADD FOREIGN KEY([JobTemplateId])
REFERENCES [Scheduler].[JobTemplate] ([JobTemplateId])
GO
