<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="database" type="Database">

      <connectionString>
        Data Source=localhost;Initial Catalog=SystemMonitoring;Integrated Security=SSPI
      </connectionString>

      <commandText>
        INSERT INTO dbo.SystemLogging
        (
        SystemLogId,
        ParentLogId,
        Module,
        Level,
        Logger,
        Message,
        MachineName,
        Username,
        CallSite,
        Thread,
        Exception,
        Stacktrace,
        MethodName,
        FilePath,
        LineNumber
        )
        VALUES
        (
        @SystemLogId,
        @ParentLogId,
        @Module,
        @Level,
        @Logger,
        @Message,
        @MachineName,
        @Username,
        @CallSite,
        @Thread,
        @Exception,
        @Stacktrace,
        @MethodName,
        @FilePath,
        @LineNumber
        )
      </commandText>

      <parameter name="@SystemLogId" layout="${gdc:systemLogId}"/>
      <parameter name="@ParentLogId" layout="${gdc:parentLogId}"/>
      <parameter name="@Module" layout="${gdc:moduleName}"/>
      <parameter name="@Level" layout="${level}"/>
      <parameter name="@Logger" layout="${logger}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@MachineName" layout="${machinename}"/>
      <parameter name="@Username" layout="${windows-identity:domain=true}"/>
      <parameter name="@CallSite" layout="${callsite:filename=true}"/>
      <parameter name="@Thread" layout="${threadid}"/>
      <parameter name="@Exception" layout="${exception}"/>
      <parameter name="@Stacktrace" layout="${exception:format=tostring}"/>
      <parameter name="@MethodName" layout="${gdc:methodName}"/>
      <parameter name="@FilePath" layout="${gdc:filePath}"/>
      <parameter name="@LineNumber" layout="${gdc:lineNumber}"/>
    </target>

    <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="database" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>

</nlog>