<nlog internalLogFile="internalLog.txt">
  <targets>
  <target name="file"
            xsi:type="File"
            layout="${longdate} ${logger} ${message}" 
          filename="C:\temp\log.txt"
          keepFileOpen="false"
          encoding="iso-8859-2" />
  <target name="db"
          xsi:type="Database"
          connectionStringName="Data Source=localhost;Initial Catalog=SystemMonitoring;Integrated Security=sspi"
          commandType="StoredProcedure"
          commandText="[dbo].[AddLoggingEntry]"
          >
    <parameter name="@machineName"    layout="${machinename}" />
    <parameter name="@siteName"       layout="${iis-site-name}" />
    <parameter name="@logged"         layout="${date}" />
    <parameter name="@level"          layout="${level}" />
    <parameter name="@username"       layout="${aspnet-user-identity}" />
    <parameter name="@message"        layout="${message}" />
    <parameter name="@logger"         layout="${logger}" />
    <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
    <parameter name="@serverName"     layout="${aspnet-request:serverVariable=SERVER_NAME}" />
    <parameter name="@port"           layout="${aspnet-request:serverVariable=SERVER_PORT}" />
    <parameter name="@url"            layout="${aspnet-request:serverVariable=HTTP_URL}" />
    <parameter name="@https"          layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />
    <parameter name="@serverAddress"  layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
    <parameter name="@remoteAddress"  layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
    <parameter name="@callSite"       layout="${callsite}" />
    <parameter name="@exception"      layout="${exception:tostring}" />
  </target>
  </targets>
  <rules>
    <rule  name="*" minlevel="Info" writeTo="db"/>
    <rule  name="*" minlevel="Info" writeTo="file"/>

  </rules>
</nlog>
