<h1>Instrument Authoring</h1>

<div>
<label>Title:</label> <input [(ngModel)]="instrument.title.text" placeholder="Title" />

</div>
<br/>

<div>
  <div>
      <label>Description:</label>
  </div>
  <div>
    <textarea [(ngModel)]="instrument.description.text"></textarea>
  </div>
</div>

<br/>

<div>
  <label>Sections</label>
  <ol *ngFor="#section of instrument.sections"
    (click)="onSectionSelect(section)">
    <li>{{section.description.text}}</li>
  </ol>
</div>


<div *ngIf="selectedSection">
  <section-detail [section]="selectedSection"></section-detail>
</div>
