<h1>Instrument Authoring</h1>

<div>
<label>Title:</label> <input [(ngModel)]="instrument.title.text" placeholder="Title" />

</div>
<br/>

<div>
  <div>
      <label>Description:</label>
  </div>
  <div>
    <textarea [(ngModel)]="instrument.description.text"></textarea>
  </div>
</div>

<br/>

<div>
  <label>Sections</label>
  <ol *ngFor="#section of instrument.sections"
    (click)="onSectionSelect(section)">
    <li>{{section.description.text}}</li>
  </ol>
</div>


<div *ngIf="selectedSection">
  <div>
    <label>Title:</label><input [(ngModel)]="selectedSection.description.text"/>
  </div>

  <div><label>Items</label></div>
  <div><input type="button" value="Add" (click)="addItem(selectedSection)"></div>
  <div *ngIf="selectedSection.items">
    <div *ngFor="#item of selectedSection.items">
        <textarea [(ngModel)]="item.question.text"></textarea>
        <div *ngIf="item.distractors" *ngFor="#distractor of distractors">
          <textarea [(ngModel)]="distractor.display.text"></textarea>
          <input [(ngModel)]="distractor.weight"/>
        </div>
    </div>
  </div>
</div>
