<div class="row">
  <div class=".col-md-8">
    <h3>Title</h3>
    <input class="form-control" [(ngModel)]="section.title.text"/>
  </div>
</div>

<div class="row">
  <div class=".col-md-8">
    <h3>Description</h3>
    <input class="form-control" [(ngModel)]="section.description.text"/>
  </div>
</div>


<div class="row"><h3>Items</h3></div>

<div>
  <textarea [(ngModel)]="newQuestionText"></textarea>
  <input type="button" value="Add Question" (click)="addItem(section)"></div>

<div *ngIf="section.items">
  <table class="table table-hover">
    <thead>
      <th>Questions</th>
    </thead>
   <tbody *ngFor="#item of section.items" (click)="selectItem(item)">
     <tr><td>t: {{item.question.text}}</td></tr>
   </tbody>
 </table>

 <div *ngIf="selectedItem" class="row">
   <h3>Item Details</h3>
   <item-detail [item]="selectedItem"></item-detail>
 </div>
</div>
