<div class="row">
  <div class=".col-md-8">
    <h3>Title</h3>
    <input class="form-control" [(ngModel)]="section.title.text"/>
  </div>
</div>

<div class="row">
  <div class=".col-md-8">
    <h3>Description</h3>
    <input class="form-control" [(ngModel)]="section.description.text"/>
  </div>
</div>


<div class="row"><h3>Items</h3></div>

<div><input type="button" value="Add" (click)="addItem(section)"></div>

<div *ngIf="section.items">
  <div *ngFor="#item of section.items">
      <item-detail [item]="item"></item-detail>
  </div>
</div>
